@import 'variables';
@import 'page';
@import 'layout';
@import 'navigation';
@import 'timescale';
@import 'workspace';
@import 'modal';
@import 'events';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}