@import 'variables';

.booking {
  display: flex;
  flex-direction: column;
  margin-top: 70px;

  &__header {
    display: flex;
    padding-left: $time-scale-width;
    border-bottom: 1px solid $color-border;
    height: 60px;
    position: sticky;
    top: 70px;
    background: $color-white;
    z-index: 10;
  }

  &__body {
    display: flex;
    flex: 1;
  }

  &__workspaces-grid {
    display: flex;
    flex: 1;
    min-height: calc($slot-height * 24);
    background-image: linear-gradient($color-border 1px, transparent 1px);
    background-size: 100% $slot-height;
  }
}