.workspace-column {
  flex: 1;
  border-right: 1px solid $color-border;
  position: relative;
  height: 1440px;

  &:last-child {
    border-right: none;
  }
}

.booking__time-slot {
  height: $slot-height;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($color-border, 0.2);
  }

  &:hover {
    background-color: rgba($color-primary, 0.02);
  }
}

.workspace-header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid $color-border;
  font-weight: 500;
  color: $color-text-main;
  background: $color-header-bg;
  cursor: pointer;
  transition: background-color 0.2s;
  z-index: 50;

  &:hover {
    background-color: rgba($color-primary, 0.05);
  }

  &__name {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}