@import 'variables';

.workspace-column {
  flex: 1;
  border-right: 1px solid $color-border;
  position: relative;
  min-height: 100%;

  &:last-child {
    border-right: none;
  }
}

.booking__time-slot {
  height: $slot-height;
  border-bottom: 1px solid transparent;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($color-border, 0.2);
  }

  &:hover {
    background-color: rgba($color-primary, 0.02);
  }
}